.inquiry .inquiry-content {
    padding-top: 50px;
}

.inquiry-content .title {
    display: flex;
    align-items: center;
    margin: 70px 0 10px 0 ;
}

.search-tools{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inquiry-content .title i {
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.inquiry-content .title .text {
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}

.activity .inquiry-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    justify-content: center;
    gap: 10px;
}

.inquiry-data .notify{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin: auto;
    padding: 10px 25px;
    background-color: var(--white-color);
    color: var(--text-color);
    width: 100%;
}

.activity .activity-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}

.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}

.activity-data .status .data-list{
    background-color: var(--primary-color);
    width: fit-content;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    padding: 0 10px;
}

.search input{
    border-radius: 15px;
    outline: none;
    font-weight: bolder;
    padding: 5px;
}

@media (max-width: 800px) {
    .search-tools, .search{
        justify-content: space-around;
        flex-wrap: wrap;
    }
}