@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --primary-color: #a5c639;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #939191;
    --white-color: #e2f6c2;
    --border-color: #e6e5e5;
    --toggle-color: #7d7878;
    --box1-color: #4da3ff;
    --box2-color: #ffe6ac;
    --box3-color: #e7d1fc;
    --title-icon-color: #fff;

    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-02: all 0.2s ease;
}

body{
    min-height: 100vh;
    background-color: var(--panel-color);
}

body.dark{
    --primary-color: #c4e84e;
    --panel-color: #242526;
    --text-color: #ccc;
    --black-light-color: #ccc;
    --border-color: #4d4c4c;
    --toggle-color: #fff;
    --box1-color: #3a3b3c;
    --box2-color: #3a3b3c;
    --box3-color: #3a3b3c;
    --title-icon-color: #ccc;   
    --white-color: #324132;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 14px;
    width: 250px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
}

nav.close{
    width: 73px;
}

nav .logo-name{
    display: flex;
    align-items: center;
}

nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
}

nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}

nav .logo-name .logo_name{
    margin-left: 14px;
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
    transition: var(--tran-05);
}

nav.close .logo_name{
    width: 73px;
    opacity: 0;
    pointer-events: none;
}

nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-items li{
    list-style: none;
}

.menu-items li a{
    text-decoration: none;
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-links li a:hover:before{
    content: "";
    position: absolute;
    height: 5px;
    left: -7px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color);
    transition: var(--tran-05);
}

body.dark li a:hover:before{
    background-color: var(--text-color);
}

.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}

.menu-items li a .link-name{
    color: var(--black-light-color);
    font-size: 18px;
    font-weight: 400;
}

nav.close li a .link-name{
    width: 73px;
    opacity: 0;
    pointer-events: none;
}

.nav-links li a:hover i, 
.nav-links li a:hover .link-name{
    color: var(--primary-color);
}

/* body.dark .nav-links li a:hover i, 
body.dark .nav-links li a:hover .link-name{
    color: var(--text-color);
} */

.logout-mode li a:hover i,
.logout-mode li a:hover .link-name{
    color: var(--primary-color);
}

.menu-items .logout-mode{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.menu-items .mode-toggle {
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.mode-toggle .switch{
    position: relative;
    display: inline-block;
    border-radius: 25px;
    height: 22px;
    width: 40px;
    background-color: var(--toggle-color);   
}

.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}

body.dark .switch:before{
    left: 20px;
}

.panel{
    background-color: var(--panel-color);
    height: 100vh;
    position: relative;
    left: 250px;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
}

nav.close ~ .panel{
    left: 73px;
    width: calc(100% - 73px);
}

.panel .top{
    position: fixed;
    top: 0;
    width: calc(100% - 250px);
    left: 250px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 9;
}

nav.close ~ .panel .top{
    left: 73px;
    width: calc(100% - 73px);
}

.panel .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}

.panel .top .search-box{
    position: relative;
    height: 45px;
    width: 100%;
    max-width: 600px;
    margin: 0 30px;
}

.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    border-radius: 5px;
    padding: 0 25px 0 50px;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    height: 100%;
    outline: none;
}

.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
    z-index: 9;
}

.top img{
    width: 40px;
    border-radius: 50%;
}

@media (max-width: 1000px) {
    nav{
        width: 73px;
    }

    nav.close{
        width: 250px;
    }

    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name{
        opacity: 1;
        pointer-events: all;
    }

    nav ~ .panel{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close ~ .panel{
        left: 250px;
        width: calc(100% - 250px);
    }

    nav ~ .panel .top{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close ~ .panel .top{
        left: 250px;
        width: calc(100% - 250px);
    }
}


@media (max-width: 600px) {
    nav{
        width: 73px;
    }

    nav.close{
        width: 73;
    }

    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }

    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    
    nav li a .link-name{
        opacity: 0;
        pointer-events: none;
    }

    nav.close li a .link-name{
        opacity: 0;
        pointer-events: none;
    }

    nav ~ .panel{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close ~ .panel{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav ~ .panel .top{
        left: 73px;
        width: calc(100% - 73px);
    }

    nav.close ~ .panel .top{
        left: 73px;
        width: calc(100% - 73px);
    }

    .activity .activity-data{
        overflow: auto;
    }

    .panel .top .search-box input{
        width: 100%;
    }

    .panel .top .sidebar-toggle{
        display: none;
    }
}